body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #000;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #42dca3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #1d9b6c;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 150px 0;
    text-align: center;
    color: #fff;
    background: url(../img/bg.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    text-transform: capitalize;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 250px 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
        font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
        text-transform: capitalize;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #42dca3;
    color: #42dca3;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #42dca3;
    outline: 0;
    color: #000;
    background-color: #42dca3;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: relative;
    height: 100%;
    padding: 15px;
    background-color: #fff;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.dropdown {
    cursor: pointer;
}


#turnonjs {
    height: 1px;
    width: 1px;
    display: none;
    position: absolute;
    text-align:center;
    background-color: #FFF;
    border-radius: 40px;
    line-height: 50px;
    z-index: -1;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

.no-js #board, .no-js .right {
    display: none !important;
}

.no-js #turnonjs {
    width: 400px;
    height: 200px;
    display: block;
    z-index: 5;
    top: 50%;
    left: 50%;
    margin: -100px 0px 0px -200px;
}

#board-container {
    width: 700px;
    height: 556px;
    padding: 10px;
    position: relative;
    /* disable mouse events */
    /* pointer-events: none; */
}

#cursor {
    width: 0px;
    height: 0px;
    position: absolute;
    z-index: 998;
    transition: all 0.3s;
    /* background-color: rgba(255,255,255,0.5); */
    top: 0px;
    left: 0px;
    overflow: hidden;
}

#cursor .corner {
    width: 20px;
    height: 20px;
    background: url('../img/bracket.png') no-repeat top right;
    position: absolute;
}

#cursor .ne {
    top: 0;
    right: 0;
}
#cursor .se {
    transform: rotate(90deg);
    bottom: 0;
    right: 0;
}
#cursor .sw {   
    transform: rotate(180deg);
    bottom: 0;
    left: 0;
}
#cursor .nw {
    transform: rotate(-90deg);
    top: 0;
    left: 0;
}
                                                                                                                                                                                                                                            
#board-container .right {
    width: 180px;
    height: calc(100% - 20px);
    background-color: margin-rightba(255, 177, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    float: right;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}

#board-container #board {
    width: 470px;
    height: calc(100% - 20px);
    background-color: rgba(0, 184, 255, 0.5);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
}

#board .cardrow {
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    perspective: 500px;
}

#board .card {
    width: auto;
    height: auto;
    list-style: none;
    margin: 5px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    cursor: pointer;
    border-radius: 5px;
    transform-style: preserve-3d;
    transition: all 0.6s;
    flex-grow: 1;
    position:relative;
}

#board .card.flipped {
    transform: rotateY(180deg);
}

#board .card.hidden {
    display: list-item !important;
    opacity: 0;
    cursor: default;
}

#board .card .front, #board .card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}

#board .card .back {
    transition: all 0.3s;
    background-image: url('../img/card_bg.gif');
    background-size: 100%;
    background-color: #D5D5D5;
    box-shadow: 0px 0px 0px 3px #FFF inset;
    transform: rotateY(0deg);
    z-index: 2;
}

#board .card:hover .back,
#board .card.focus .back {
    background-color: #FFF;
}

#board .card.focus .brackets {
    opacity: 1;
}

#board .card .front {
    background-color: #FFF;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#board .card .front .txt {
    text-align: center;
    font-size: 20px;
    text-shadow: 2px 2px #FFF;
    display: none;
}

#board .card.hidden .front .txt {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#board .newgame {
    text-align: center;
    pointer-events: none;
}

#board .newgame button {
    width: 160px;
    padding: 10px;
}

#board-container .completed {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
}

#board-container .completed .popup {
    background-color: rgba(255,255,255,0.7);
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    margin: -100px auto 0px auto;
    top: 50%;
    position: relative;
    height: 200px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    border: 3px solid #FFF;
    text-align:center;
    pointer-events: none;
}

#board-container .completed .popup.insertok {
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
}

#board-container .completed .popup .msg.err {
    color: #FF3333;
    font-weight: bold;
}

#board-container .completed .popup .loader {
    background: url('../img/ajax-loader.gif') no-repeat center center transparent;
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 5;
    display: inline-block;
    margin-left: -40px;
    opacity: 0;
}

#board-container .completed .popup.sending .loader{
    opacity: 1;
}

#board-container .completed .popup label{
    width: 60px;
    display: inline-block;
    margin-right: 10px;
}

#board-container .completed .popup input[type=field]{
    width: 150px;
}

#board-container .completed .email {
    margin: 5px 0px 10px 0px;
}

#board-container .completed .popup button {
    width: 90px;
    height: 40px;
    padding: 10px;
    margin: 0px 5px;
}

.right{
    position: relative;    
    background-color: steelblue;
}

.right h3 {
    margin: 15px 0px 5px 0px;
    border-bottom: 1px solid #333;
    text-align: right;
}

.logo {
    height: 80px;
    background: url('../img/logo.png') no-repeat center center;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 10px;
}

#info .currscore {
    font-size: 20px;
    font-weight: bold;
    background-color: #FFF;
    border-radius: 5px;
    line-height: 40px;
    text-align:center;
}

.right .cb {
    text-align: center;
    font-size: 12px;
    pointer-events: none;
}

.right .cb #cbcheck {
    transform: scale(1.5);
}

.right .restart {
    position: absolute;
    bottom: 10px;
    height: 40px;
    pointer-events: none;
}

.right .restart button{
    height: 100%;
    width: 160px;
    cursor: pointer;
    background-color: darkgreen;
}

#ref {
    display: none;
}

#uiStudio {
    padding: 4px;
    border-radius: 18px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.instructions{
    position: absolute;
    bottom: 30px;
}