<span itemscope itemtype='http://schema.org/SoftwareApplication' itemref='_url2'>
<nav class='navbar navbar-custom navbar-fixed-top' role='navigation'>
    <div class='container'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-main-collapse'>
                <i class='fa fa-bars'></i>
            </button>
            <a class='navbar-brand page-scroll' href='#page-top'>
                <i class='fa fa-home'></i>
                <span id='_author3' itemprop='author' itemscope itemtype='http://schema.org/Person'><span itemprop='name' class='light'>sndy</span></span>
            </a>
        </div>
        <div class='dropdown navbar-header navbar-brand page-scroll'>
          <span class='dropdown-toggle' id='uiStudio' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
            UI Studio
            <span class='caret'></span>
          </span>
          <ul class='dropdown-menu' aria-labelledby='uiStudio' style='background: beige;'>
            {{!--<li> {{#link-to 'login'}}Login{{/link-to}}</li>--}}
            <li> <a href='/react-video-carousel'>React Video Carousel</a></li>
            <li> <a href='https://sndy-twitter-stream.herokuapp.com/'>React Twitter</a></li>
            <li> {{#link-to 'dashboard'}}Dashboard{{/link-to}}</li>
            <li> {{#link-to 'memory-game'}}Memory Game{{/link-to}}</li>
          </ul>
        </div>
        <div class='collapse navbar-collapse navbar-right navbar-main-collapse'>
            <ul class='nav navbar-nav'>
                <li class='hidden active'>
                    <a href='#page-top'></a>
                </li>
                <li class=''>
                    <a class='page-scroll' href='#about'>About</a>
                </li>
                <li class=''>
                    <a class='page-scroll' href='#contact'>Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class='intro'>
    <div class='intro-body'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-8 col-md-offset-2'>
                    <span id='_publisher4' itemprop='publisher' itemscope itemtype='http://schema.org/Organization'><h1 itemprop='name' class='brand-heading'>Emberfied</h1></span>
                    <a href='#about' class='btn btn-circle page-scroll'>
                        <i class='fa fa-angle-double-down animated'></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<section id='about' class='container content-section text-center'>
    <div class='row'>
        <div class='col-lg-8 col-lg-offset-2'>
            <h2>About Emberfied</h2>
            <p><span id='_applicationCategory5' itemprop='applicationCategory'>UI studio</span> built with 
<span id='_name1' itemprop='name'><a href='http://emberjs.com'  class='piwik_link' onclick="javascript:_paq.push(['trackEvent', 'Vists', 'RouteTraversed', 'ember.js']);" target='_blank'>ember.js</a> !!<br/>Demonstrates {{#link-to 'dashboard'}}ember components{{/link-to}}- Charts, Maps created using <a href='http://www.highcharts.com/' class='piwik_link' onclick="javascript:_paq.push(['trackEvent', 'Vists', 'RouteTraversed', 'highcharts']);" target='_blank'>Highcharts</a>. <br/>Many more in the making...</span></p>
            <span id='visitor-count'>
                <img src='http://www.emberfied.com/analytics/index.php?module=Counter&action=show&id=0' border='0'/>
            </span>
        </div>
    </div>
</section></span>

<section id='contact' class='container content-section text-center'>
    <div class='row'>
        <div class='col-lg-8 col-lg-offset-2'>
            <h2>Contact</h2>
            <ul class='list-inline banner-social-buttons'>
                <li>
                    <a id='_url2' itemprop='url' target='_blank' onclick="javascript:_paq.push(['trackEvent', 'Vists', 'RouteTraversed', 'linkedin']);" href='https://sg.linkedin.com/in/sndy25' class='btn btn-default btn-lg  piwik_link'><i class='fa fa-linkedin fa-fw'></i> <span class='network-name'>Linkedin</span></a>
                </li>
                <li itemscope itemtype='http://schema.org/SoftwareApplication' itemref='_name1 _author3 _publisher4 _applicationCategory5'>
                    <a itemprop='url' target='_blank' onclick="javascript:_paq.push(['trackEvent', 'Vists', 'RouteTraversed', 'github']);" href='https://github.com/sndy' class='btn btn-default btn-lg  piwik_link'><i class='fa fa-github fa-fw'></i> <span class='network-name'>Git</span></a>
                </li>
                <li itemscope itemtype='http://schema.org/SoftwareApplication' itemref='_name1 _author3 _publisher4 _applicationCategory5'>
                    <a itemprop='url' target='_blank' onclick="javascript:_paq.push(['trackEvent', 'Vists', 'RouteTraversed', 'twitter']);" href='https://twitter.com/sndy_' class='btn btn-default btn-lg piwik_link'><i class='fa fa-twitter fa-fw'></i> <span class='network-name'>Twitter</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>
